* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(155, 218, 243);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app__titulo {
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  padding: 5px;
  background-color: rgba(0, 162, 255, 0.137);
}

.app {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;

  height: 500px;
  display: flex;
  flex-direction: column;
  box-shadow: 1px .5px .5px .5px rgb(50, 50, 50);
  padding: 10px;
  margin-bottom: 15px;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

#div__btn {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

label {
  margin-bottom: 10px;
}

input,
select {
  margin-bottom: 10px;
  height: 25px;
}

button {
  height: 30px;
  width: 45%;
  border: 0.5px solid;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

span {
  display: block;
  width: 100%;
}

footer {
  text-align: center;
}

header {
  text-align: center;
}

#resultadoConversao {
  text-align: center;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
}

#btnConverter {

  background-color: rgba(0, 162, 255, 0.137);
}
