* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #4D5673;
}

.ctn {
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

span {
    display: block;
    font-size: 18px;
}

#titulo-pagina {
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

#titulo-resultado {
    text-transform: uppercase;
}

label {
    margin: 15px;
}

.input-valor {
    display: flex;
    flex-direction: column;
    width: 15%;
    text-transform: uppercase;
}

.container-conversor {
    align-items: center;
    background-color: #5C6785;
    box-shadow: 2px 2px 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    justify-content: space-around;
    margin: auto;
    padding: 25px;
    width: 800px;
}

.form-moeda {
    padding: 10px;
    box-shadow: 2px 2px 2px;
    background-color: rgba(228, 217, 217, 0.514);
    width: 30%;
    display: flex;
    flex-direction: column;
}

#btn-converter {
    background-color: #7DDE95;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
}

#btn-converter:hover {
    background-color: #70c986c0;
    color: #fff;
    transition: 1000ms;
}

.resultado-conversao {
    margin: auto;
    width: 800px;
    text-align: center;
    background-color: #7DDE95;
    padding: 20px;
    margin-top: 15px;
    box-shadow: 2px 2px 2px;
}

.container-span-resultado {
    margin: auto;
    width: max-content;
    text-align: left;
    padding: 0;
}

#btn-buscar {
    height: min-content;
}

.invisible {
    display: none;
}

@media (max-width: 450px) {
    .ctn {
        max-width: 350px;
        max-height: 700px;
    }
    .container-conversor {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 5px;
        padding: 0;
        box-shadow: 0;
    }
    .form-moeda {
        padding: 0;
        width: 90%;
        margin-bottom: 5px;
    }
    .resultado-conversao {
        text-align: center;
        width: 100%;
        padding: 0;
        padding-bottom: 10px;
    }
    form {
        display: flex;
        justify-content: center;
    }
    #span-valor-convertido {
        display: none;
    }
    #span-resultado-conversao {
        display: none;
    }
    .input-valor {
        display: flex;
        flex-direction: row;
        width: 80%;
    }
    #inputValor {
        text-align: right;
        font-size: 20px;
        width: 50%;
        margin: auto;
        height: max-content;
    }
    button {
        margin-bottom: 10px;
    }
    #titulo-resultado {
        display: none;
    }
}
